<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527946517860-uauob2ffv6ik7s11r5k5npvjvoq8raek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527946517860-uauob2ffv6ik7s11r5k5npvjvoq8raek</string>
	<key>API_KEY</key>
	<string>AIzaSyCI4Ye5gcWiDeCIxrR1cl3p10JpL3xJPr0</string>
	<key>GCM_SENDER_ID</key>
	<string>527946517860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MariaNesterova.RadioApp</string>
	<key>PROJECT_ID</key>
	<string>radioapp-467fb</string>
	<key>STORAGE_BUCKET</key>
	<string>radioapp-467fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527946517860:ios:c4a15fe643dc6a918e7e71</string>
</dict>
</plist>